.container {
    margin: 50px 0px;
    display: flex;
    justify-content: space-between;
    
}

.button{
    padding: 10px 20px;
    border-radius: 5px;
    border: none; 
    cursor: pointer;
    width: 100px;
    background-color: crimson;
    color: white;
    cursor:pointer;
}


.button:disabled{
background-color:rgb(91, 3, 21);
color:antiquewhite;
cursor:not-allowed;
}