.container{
display:flex; 
justify-content:space-between;
align-items:center;
height: 100px;

}

.social{
flex:1; 
display:flex;
gap:10px;
}

.highlightGh {
    font-weight: 900 !important;
    color: #ff4500 !important;
    font-family: 'Arial Black', Gadget, sans-serif !important;
    font-size: 68px !important;
    text-shadow: 1px 1px 2px black;
}

.logo{
flex:1; 
font-size:36px;
font-weight:bold;
text-align: center;
}
.links{
flex:1;
display:flex;
gap:20px;
align-items:center;
font-size: 20px;
font-weight:bold;
}
.link{
cursor:pointer;
}

@media screen and (max-width: 1200px) {
    .logo{
        font-size: 32px;
    }
    .highlightGh {
        font-size: 50px !important;
    }
    .links{
        font-size: 18px;
        gap:15px;
    }
}

@media screen and (max-width: 1024px) {
    .social{
        display: none;
    }
    .highlightGh {
        font-size: 40px !important;
    }

    .logo{
        text-align: left;
    }
}

@media screen and (max-width: 768px) {
    .logo{
        font-size: 24px;
    }
    .highlightGh {
        font-size: 30px !important;
    }
}

@media screen and (max-width: 640px) {
    .links{
        justify-content:flex-end;   
    }
    .link{
        display: none;
    }
    
}