.container{
display:flex; 
justify-content: space-between;
align-items: center;
margin-top:200px;
padding:20px 0px;
color:var(--softTextColor);
}

.infos{
flex:1; 
display:flex; 
flex-direction:column;
gap:14px;
}

.logo{
display:flex; 
align-items: center;
gap:10px;
}

.logoTitle{
font-size: 24px;
}

.highlightGh {
    font-weight: 900 !important;
    color: #ff4500 !important;
    font-family: 'Arial Black', Gadget, sans-serif !important;
    font-size: 28px !important;
    text-shadow: 1px 1px 2px black;
}

.desc{
font-weight: 300;
}

.icons{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;

}

.links{
flex:1; 
display:flex; 
justify-content: flex-end;
gap:100px; 
}

.list{
display:flex; 
flex-direction: column;
gap:14px;
font-weight: 300;
}

.listTitle{
font-weight: bold;
}

@media screen and (max-width: 1024px){
    .links{
        gap:50px
    }
}


@media screen and (max-width: 768px){
    .links{
        justify-content: space-between;
        width: 100%;
    }
    .container{
        flex-direction: column;
        gap:50px;
    }
}

@media screen and (max-width: 640px){
    .links{
        font-size:14px; 
    }
    
}


